html {
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    margin: 0;
    padding: 0;
}

body {
    /* black page, exactly viewport height, no scroll */
    background-color: var(--theme-dark);
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* the special section for contact info*/
section#contact-section {
    background-color: transparent;
    position: relative;
    color: var(--theme-text-bg);
    overflow: wrap;
}
section#contact-section h2 {
    font-size: 2rem;
}
/* the media query to make sure the contact section fits */
@media only screen and (max-width: 500px) {
    section#contact-section {
        font-size: 0.8rem;
        min-height: fit-content;
        min-width: fit-content;
        max-width: 90vw;
        margin: 3rem 5vw;
        padding: 0;
        overflow: wrap;
        text-align: center;
    }
}
footer {
    position: fixed;
    bottom: 0;
    margin: 0;
}
.spacer-div {
    display: block;
    height: 1rem;
}
.contact-info {
    font-size: 1.2em;
    font-weight: 500;
}

/* background ball animation */

@keyframes ball-animation {
    0% {
        left: 0vw;
        bottom: 20vh;
    }
    38% {
        left: 75vw;
        bottom: 70vh;
    }
    55% {
        left: 90vw;
        bottom: 30vh;
    }
    75% {
        left: 50vw;
        bottom: 10vh;
    }
    100% {
        left: 0vw;
        bottom: 20vh;
    }
}

.animated-ball {
    position: fixed;
    z-index: 2;
    height: 9vw;
    width: 9vw;
    background-color: #4AC8EB;
    border: 1px solid #4AC8EB;
    border-radius: 4.5vw;
    animation-name: ball-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}