html {
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--theme-dark);
    height: 100vh;
    margin: 0;
    padding: 0;
}

section#contact-section {
    background-color: transparent;
    position: relative;
    color: var(--theme-text-bg);
    overflow: wrap;
}
section#contact-section h2 {
    font-size: 2rem;
}
@media only screen and (max-width: 500px) {
    section#contact-section {
        font-size: 0.8rem;
        min-height: fit-content;
        min-width: fit-content;
        max-width: 90vw;
        margin: 3rem 5vw;
        padding: 0;
        overflow: wrap;
        text-align: center;
    }
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0;
}
.spacer-div {
    display: block;
    height: 1rem;
}
.contact-info {
    font-size: 1.2em;
    font-weight: 500;
}