html {
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    background-color: var(--theme-background);
    color: var(--theme-text-colour);
    margin: 0;
    padding: 0;
}
nav {
    font-size: 1.3rem;
    position: sticky;
    top: 1rem;
    margin: 0 30vw;
    width: 40vw;
    --nav-height: 3rem;
    height: var(--nav-height);
    border: solid;
    border-width: 6px;
    border-radius: calc(var(--nav-height)/2);
    background-color: var(--theme-background);
    border-color: var(--theme-accent);
}
nav ul {
    list-style: none;
}
nav li {
    position: relative;
    top: -0.5em;
    float: left;
    margin: 0 3vw;
}
nav li + li {
    float: right;
}
nav a {
    text-decoration: none;
    color: var(--theme-text-colour);
}

nav a:hover {
    text-decoration: none;
    color: var(--theme-accent);
}
nav img.icon {
    height: 0.6em;
    margin-right: 0.5em;
}
