html {
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    background-color: var(--theme-background);
    color: var(--theme-text-colour);
    margin: 0;
    padding: 0;
}
nav {
    position: fixed;
    top: 0;
    margin: 0;
    background-color: var(--theme-dark);
    padding: 0.2rem 0;
    height: 4rem;
    display: inline;
    width: 100vw;
}
nav ul {
    list-style: none;
}
nav li {
    font-size: 1.5rem;
    float: left;
    margin: 0 2rem;
}
nav li + li {
    float: right;
    margin-right: 3rem;
}
nav a {
    text-decoration: none;
    color: var(--theme-text-bg);
}
nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
