
html {
    font-size: 150%;
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    background-color: var(--theme-background);
    color: var(--theme-text-colour)
}
h1 {
    font-size: 3rem;
}
nav + h1 {
    margin-top: 5rem;
    align-self: center;
}
h2 {
    font-size: 3rem;
}
iframe {
    position: fixed;
    bottom: 0;
}
section {
    background-color: var(--theme-text-bg);
    border-radius: 30px;
    margin: 1rem 15vw;
    padding: 1rem 3rem;
}