
html {
    font-size: 150%;
    --theme-background: #F1F4FF;
    --theme-text-colour: #110700;
    --theme-accent: #4AC8EB;
    --theme-dark: black;
    --theme-subdomain-colour: grey;
    --theme-text-bg: #FFFAF7;
    background-color: var(--theme-background);
    color: var(--theme-text-colour)
}
body {
    margin: 0;
}
h1 {
    font-size: 3rem;
}
#heading {
    margin: 0;
    padding: 4rem;
    padding-left: 18vw;
    height: 65vh;
    width: 76vw;
    background: linear-gradient(var(--theme-dark), var(--theme-background));
}
#heading h1 {
    background: linear-gradient(var(--theme-text-bg), var(--theme-accent));
    background-clip: text;
    -webkit-background-clip: text;
    background-attachment: fixed;
    color: transparent;
}
h2 {
    font-size: 3rem;
}
section {
    background-color: var(--theme-text-bg);
    border-radius: 30px;
    margin: 3rem 15vw;
    padding: 1rem 3rem;
}