html {
  color: rgb(20, 23, 28);
  background-color: #dde8ff;
  margin: 0;
  font-family: 'Helvetica', 'Verdana', sans-serif;
}
body {
  margin: 0;
}
.centred-content {
  max-width: 60%;
  margin: 20px 18%;
  padding: 30px 2%;
  border-radius: 30px;
  background-color: rgb(230, 236, 245);
}
.split-side-content {
  margin: 40px 3.5%;
  padding: 30px 2%;
  background-color: rgb(230, 236, 245);
  border-radius: 30px;
  height: 570px;
  overflow: hidden;
}
.split-side-content.vertical-sliding {
  overflow: auto;
  height: 400px;
}
.left-content {
  position: sticky;
  top: 0;
  float: left;
  width: 46.5%;
  padding: 0 20px;
}
.right-content {
  padding: 0 20px;
  width: 46.5%;
  overflow: auto;
}
.right-content img, .left-content img {
  width: 90%;
  border-radius: 10px;
}
.right-content img + p, .left-content img + p {
  font-size: 1em;
  color: rgb(123, 126, 134);
  margin: 0;
  padding: 0;
}
header {
  height: 100vh;
  margin: 0;
  background-color: #dde8ff;
  background-position: center;
  background-size: cover;
}
header#index {
  /* background-image: url('assets/index_banner.png'); */
  background-color: #dde8ff;
}
header > h1 {
  position: relative;
  font-size: 5em;
  top: 20%;
  left: 20%;
}
header > h4 {
 position: relative;
 font-size: 3em;
 top: 20%;
 left: 45%;
 color: rgb(24, 25, 35);
}
header > h4 + h4 {
  top: 22%;
  left: 55%;
}
header > h4 + h4 + h4 {
  top: 24%;
  left: 65%;
}
nav {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  background-color: #dde8ff;
  background-size: cover;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
nav > h2, nav > ul {
  margin: 0 2%;
  padding: 15px;
}
nav > h2 {
  border-radius: 25px;
  background-color: rgb(42, 217, 57);
}
nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}
nav li {
  padding: 10px;
  margin: 10px 20px;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: rgb(29, 31, 39);
  opacity: 1;
}
nav a:hover {
  opacity: 0.4;
}
a.blog-link {
  text-decoration: none;
  color: rgb(20, 23, 28)
}
footer {
  margin: 0;
  padding: 10px;
  background-color: #dde8ff;
  position: static;
  bottom: 0;
  display: block;
}
