/* site-wide formatting*/
body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 25px;
  margin: 0;
  padding: 0;
  color: rgb(40, 20, 6);
  background-color: rgb(232, 255, 229);
  font-family: 'Roboto', sans-serif;
}
/*  GROUP formatting for images on one side, text on other as on the Fruits page*/

/* Sorts table form for the image text groups*/
.group:after {
  content: "";
  display: table;
  clear: both;
}
/* details for the image and text parts of the groups*/
.group-text {
  float: left;
  width: 49%;
  padding-top: 0%;
  margin: 15px;
  max-width: 49%;
}
.group-text h3 {
  margin-left: 25px;
}
.group-images img, .group-images p{
  float: left;
  width: 49%;
  max-width: 49%;
  height: 550px;
  color: red;
}
/* Defining the background images for each of the headers*/
header.mainpage {
  background-image: url('images/mainpage-banner.jpg');
}
header.mushrooms {
  background-image: url('images/image2.jpg');
}
header.veges {
  background-image: url('images/nettle-banner.jpg');
}
header.fruit {
  background-image: url('images/elderberry.jpg');
}
header.about {
  background-image: url('images/chickweed.jpeg');
}
header.medic {
  background-image: url('images/lemon_balm.jpg');
}
/* Now the intricacies of the headers, all together to save space 
   The navbar is included in the header
*/
header {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  color: #0d0908;
  height: 370px;
  padding: 10px;
  padding-bottom: 480px;
  margin: 0;
  text-align: center;
  font-size: 2.7em;
  position: static;
  top: 0;
}
/* For the text in the header*/
header h1 {
  margin: 0 25%;
  margin-top: 200px;
  padding: 15px 20px;
  background-color: rgba(195, 255, 195, 0.45);
  border-radius: 75px;
}
/* The navigation bar at the top of the screen */
.navbar {
  width: 80%;
  margin: 10px 10%;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  background: rgb(147, 217, 120);
  
  display: flex;
  justify-content: space-between;

  border-radius: 35px;
}
/* positioning of the items in the list */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav-list li {
  padding: 0 5vh;
}
/* specifics of the links in the navbar */
.navbar a { 
  color: rgb(41, 16, 0);
  text-decoration: none;
  opacity: 1;
}
/* makes the navbar links change opacity while hovered over, to reinforce Visibilty of System Status. (and show it is a navbar link) */
.navbar a:hover {
  opacity: 0.6;
}
/* CSS for the 'Wairarapa Foraging' item, positioned to be at the left of the navbar */
.home-nav {
  padding: 10px;
  margin-left: 10px;
  font-size: 1.5em;
}
/* formatting for the text blocks */
section {
  border-radius: 32px;
  margin: 45px 15%;
  background-color: rgb(212, 253, 206);
  padding: 25px;
}
/* CSS for the screen-wide images on the pages */
#index-image-1 {
  margin: 2% 0;
  background-image: url('images/blackberry-flower.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
#index-image-2 {
  margin: 2% 0;
  background-image: url('images/hawthorn.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
#about-image-1 {
  margin: 2% 0;
  background-image: url('images/plums.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
#medic-image-1 {
  margin: 2% 0;
  background-image: url('images/miners_lettuce.jpeg');
  background-size: 100%;
  max-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
#medic-image-2 {
  margin: 2% 0;
  background-image: url('images/elderberry.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 600px;
  background-attachment: fixed;
}
/* The Footer */
footer {
  padding: 15px 0;
  margin: 20px 10%;
  width: 80%;
  border-radius: 30px;
  text-align: center;
  color: rgb(40, 20, 6);
  background-color: rgb(212, 253, 206);
  align-items: center;
  height: 50px;
}
/* links on the footer */
footer a {
  text-decoration: none;
  color: rgb(40, 20, 6);
}
/* links on the footer when hovered over */
footer a:hover {
  text-decoration: underline;
}
/* The 'to-top' button on each of the pages */
.to-top {
  position: sticky;
  top: 80vh;
  right: 5vh;
  padding: 10px;
  margin: 30px;
  float: right;
  background-color: rgb(187, 255, 192);
  border-radius: 55px;
}
